<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Rapid Quotation-PDF generation</title>
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>



 <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
     <div class="card p-4">
         <div align="center">
         <img alt="" th:src="'data:image/png;base64,' +${software.company.companyLogo}" height="20%" width="20%"></img>
             <div align="center">
              <h1 th:text="${software.company.companyName}"></h1>
             </div>
         </div>
         <hr/>
         <div class="card-body">
             <div class="row mb-4">
                 <div class="col-sm-6">
                     <h3 class="mb-2">Company Details:</h3>
                     <lable>Email:</lable>
                     <div th:text="${software.company.email}"></div>
                     <lable>Address:</lable>
                     <div th:text="${software.company.address}"></div>
                     <div th:text="${software.company.address2}"></div>
                     <lable>City:</lable>
                     <div th:text="${software.company.city}"></div>
                      <lable>State:</lable>
                     <div th:text="${software.company.state}"></div>
                      <lable>Pincode:</lable>
                     <div th:text="${software.company.zip}"></div>
                      <lable>Website:</lable>
                     <a href="" th:text="${software.websiteLink}"></a><br>
                     <lable>Fax Number:</lable>
                     <p th:text="${software.faxNumber}"></p>
                 </div>
                 <div class="col-sm-6">
                     <h3 class="mb-2">Quotation Details</h3>
                     <lable>Quotation Number:</lable>
                     <h6 th:text="${software.quotationNumber}"></h6>
                     <lable>Created date:</lable>
                     <h6 th:text="${software.creationDate}"></h6>
                     <lable>Valid till:</lable>
                     <h6 th:text="${software.expieryDate}"></h6>
                     <lable>Technology</lable>
                     <h6 th:text="${software.technologies}"></h6>
                     <lable>Maintainance Period</lable>
                     <h6 th:text="${software.maintainancePeriod}"></h6>
                 </div>
             </div>
             <br>
             <div align="center">
             
             <h3>Title</h3>
             <h5 th:text="${software.title}"></h5>
             <h3>Description:</h3>
             <div th:text="${software.description}"></div>
             </div>
              <hr/>
              <div align="center">
             <h3>Quotation Items</h3>
             </div><br>
             
             <div class="table">
                 <table class="table">
                     <thead>
                         <tr>
                             <th>Item</th>
                             <th class="center">Quantity</th>
                              <th class="center">Unit</th>
                             <th class="center">Price</th>
                             
                         </tr>
                     </thead>
                     <tbody>
                         <tr class="item" th:each="softwareItem : ${software.softwareItems}">
               				 <td th:text="${softwareItem.materialDescription}"></td>
               				 <td  th:text="${softwareItem.quantity}"></td>
               				 <td  th:text="${softwareItem.unit}"></td>
                 			 <td  th:text="${softwareItem.price}"></td>
           				 </tr>
                     </tbody>
                 </table>
             </div>
             <div class="row">
                 <div class="col-lg-4 col-sm-5">
                 </div>
                 <div class="col-lg-4 col-sm-5 ml-auto">
                     <table class="table table-clear">
                         <tbody>
                             <tr>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                                 <td class="left">
                                     <strong class="text-dark">total</strong>
                                 </td>
                                 <td class="right" th:text="${software.total}"></td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
                      <hr/>
                      
                      <div class="table">
                 <table class="table">
                     <thead>
                         <tr>
                             <th>Technologies</th>
                             <th class="center">Content Writing</th>
                             <th class="center">Coding Development</th>
                         </tr>
                     </thead>
                     <tbody>
                     <tr>
                      	<td th:text="${software.technologies}">  </td>
                		<td  th:text="${software.contentWritingCost}">  </td>
                		<td th:text="${software.codingDevelopmentCost}"></td>
                     </tr>
                     </tbody>
                     </table>
                     </div>
                      <hr/>
                      
                       <div class="table">
                 <table class="table">
                     <thead>
                         <tr>
                             <th>Payment Gateway Integration</th>
                             <th class="center">Domain Hosting</th>
                             <th class="center">Technical Support</th>
                         </tr>
                     </thead>
                     <tbody>
                     <tr>
                      	<td th:text="${software.paymentGatewayCost}">  </td>
                		<td  th:text="${software.domainHosting}">  </td>
                		<td th:text="${software.technicalSupportCost}"></td>
                     </tr>
                     </tbody>
                     </table>
                     </div>
                      <hr/>
                      
                      
                       <div class="table">
                 <table class="table">
                     <thead>
                         <tr>
                             <th>Testing</th>
                             <th class="center">Maintainance Period</th>
                             <th class="center">Maintainance Cost</th>
                         </tr>
                     </thead>
                     <tbody>
                     <tr>
                      	<td th:text="${software.testingCost}">  </td>
                		<td  th:text="${software.maintainancePeriod}">  </td>
                		<td th:text="${software.maintainanceCost}"></td>
                     </tr>
                     </tbody>
                     </table>
                     </div>
                      <hr/>
                      
                       <div class="table">
                 <table class="table">
                     <thead>
                         <tr>
                             <th class="center">Total Including All Costs</th>
                             <th>GST</th>
                         	 <th>Total Including all Costs With GST</th>
                         </tr>
                     </thead>
                     <tbody>
                     <tr>
                     <td th:text="${software.totalIncludingAllCosts}"></td>
                     <td th:text="${software.gst}"></td>
                      <td th:text="${software.totalIncludingAllCostsWithGst}"></td>
                 
                     </tr>
                     </tbody>
                     </table>
                     </div>
                      <hr/>
                      
                      <lable for="approxTime">Approx Time</lable>
                      <div th:text="${software.approxTime}"></div>
                      <hr/>
                      
                       <lable for="terms&conditions">Terms And Conditions</lable>
        <textarea th:text="${software.termsAndConditions}" class="form-control"  id="terms&conditions" cols="60" rows="5"></textarea>
        
                     
         </div>
         
     </div>
 </div>
         
</body>
</html>